<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <base href="/"> 
    <title>Foodfy</title>
</head>
<body>
    <div id="meio" >
        <header>
            <div class="menu">
                <a style="margin-right:0" href="/"><img src="imgs/logo.png" alt=""></a>
                <div>
                    <a href="/sobre">Sobre</a>
                    <a href="/receitas">Receitas</a>
                </div>
            </div>
            {% block caixa %}
            {% endblock %}
        </header>
        <main>
            {% block cards %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <div>
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
    </footer>
</body>
</html>