{% extends "base.njk" %}
 {% block cards %}
    
<div id ="recipes">
    <img src="{{itens.image}}" alt="">
    <h6>{{itens.title}}</h6>
    <p>por {{itens.author}}</p>
</div>
<div id="sanfona">
    <div class="mostaEsconde">
    <label>Ingredientes</label>
    <button class="accordion">MOSTRAR</button>
    <div class="panel">
    <ul>
        {% for item in itens.ingredients%}
            <li>{{item}}</li>
        {% endfor%}
    </ul>
    </div>
    </div>

    <div class="mostaEsconde">
    <label>Modo de preparo</label>
    <button class="accordion">MOSTRAR</button>
    <div class="panel">
    <ul>
        {% for item in itens.preparation%}
            <li>{{item}}</li>
        {% endfor%}
    </ul>
    </div>
    </div>

    <div class="mostaEsconde">
    <label>Informaçõs adicionais</label>
    <button class="accordion">MOSTRAR</button>
    <div class="panel" style="padding:0">
    <span>{{itens.information}}</span>
    </div>
    </div>
    
</div>
{% endblock %}
{% block script%}
    <script src="accordion.js"></script>
{% endblock %}